# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.log
frontend/*.local

# Backend
backend/target/
backend/.env
backend/uploads/

# Logs
logs/
*.log

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
.kiro
